<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://data.nasa.gov/resource/"/>
    <add key="resource" value="b67r-rgxc.json"/>
    <add key="objectname" value="?object_name="/>
    <add key="selectall" value="?$select=*"/>
    <add key="where" value="?$where="/>
    <add key="limit" value="?$limit="/>
    <add key="orderby" value="?$order="/>
    </appSettings>
</configuration>